.arrow{
	display:inline-block;
	width: 0;
	height: 0;
	border: 0.1rem solid transparent;
}
.arrow-up{
	border-bottom-color: #878787;
	margin-bottom: 0.05rem;
}
.arrow-down{
	border-top-color: #878787;
	margin-bottom: -0.05rem;
}
.arrow-to-right{
	border-left-color: #878787;
	margin-right: -0.1rem;
}
.arrow-to-left{
	border-right-color: #878787;
	margin-left: -0.1rem;
}
