.arrow{
	width: 100%;
	height: 100%;
	border: 0;
	font-family: 'shuidrinking';
	position: relative;
}
.arrow::before{
	--arrow-font-size:1rem;
	position:absolute;
	content:"\e950";
	font-size:var(--arrow-font-size);
	width:var(--arrow-font-size);
	height:var(--arrow-font-size);
	line-height:var(--arrow-font-size);
	left:0.1rem;
	top:0;
	color:#ff5000;
	background-color: #ffffff;
	opacity: 0.8;
	
	--k: 0;
	place-self: center;
	background: linear-gradient(90deg, hsl(calc(var(--k)*1turn), 95%, 65%), hsl(calc(var(--k)*1turn + 90deg), 95%, 65%));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	/* font: 900 clamp(.875em, 7.25vw, 5em) arial black, sans-serif; */
	filter: url(#f);
	animation: k 4s linear infinite;
}
.arrow-up{
	border-bottom-color: #878787;
	margin-bottom: 0.05rem;
}
.arrow-down{
	border-top-color: #878787;
	margin-bottom: -0.05rem;
}
.arrow-to-right{
	left:0;/*此时icon在最左侧，箭头向右*/
}
.arrow-to-left{
	left:80%;/*此时icon在最右侧，箭头向右左*/
}
@property --k {
	syntax: "<number>";
	initial-value: 0;
	inherits: false;
}
@keyframes k {
	to {
		--k: 1;
	}
}