/*右方向粗箭头，html中&#10148;，css中\27A4*/
:root {
	--classicblue:#1E9FFF;
	--classicorange:#FF5722;
	--classicyellow:#FFB800;
	--classicgreen:#16b777;
	--kleinblue:#002fa7;
	--titianred:#d34947;
	--hermesorange:#EB5C20;
	--tiffanygreen:#71e2d1;
	--chinared:#d80c18;
	--burgundyred:#470125;
	--prussianblue:#0d3869;
	--vandykebrow:#492d22;
	--marrsgreen:#01847e;
	--yellow:#ffbf50;
	--common-text-color:#585858;
}
/**
 * 添加屏幕宽高比的条件：
 * and (device-aspect-ratio:16/9)
 */
@media screen and (min-width: 1080px) {
	:root {
		--body-font-size:14px;
		--rem-common-font-size:0.14rem;
		--input-font-size:0.16rem;
	}
}

@media screen and (max-width: 1080px) {
	:root {
		--body-font-size:26px;
		--rem-common-font-size:0.26rem;
		--input-font-size:0.26rem;
	}
}

.inline-block{
	display:inline-block;
}

*{
	font-family: Verdana;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	word-wrap: break-word;
	word-break: break-all;
	/**清除元素的默认浏览器样式，例如input的顶部内黑线，select的下拉框，number的增减箭头等
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	select::-ms-expand { display: none; }IE的select要单独定义这一句**/
}
html,body{
	width:100%;
	height:100%;
}
body {
	font-size: var(--body-font-size);
	line-height: 100%;
	font-family: "Verdana","微软雅黑","宋体";
	counter-reset: filedSets 0 stepsCounterSN 0;
	letter-spacing: 0.01rem;
}
img {
	border: 0;
	max-width:98%;
}
h1, h2, h3, h4, h5, h6{
	font-size: 0.16rem;
	margin: 0.02rem 0;
	padding: 0.1rem 0;
}
div {
	font-size: var(--rem-common-font-size);
	border: 0;
	padding:0;
	margin:0;
}
p{
	line-height:0.3rem;
}
blockquote{
	margin : 0.1rem 0;
	font-size: 0.14rem;
	font-weight: bold;
	border-left: 0.04rem solid #d0d7de;
	padding-left:0.1rem;
}
a{
	text-decoration: none;
	color:#006da3;
}
a:hover {
	color:#0087c6;
}
table tr td {
	border-bottom: 0.01rem dotted #f3f3f3;
}
/*滚动条里面小方块*/
::-webkit-scrollbar {
	/*定义有效宽度*/
	width: 0.06rem;
	height: 0.06rem;
	/*加上后滚动条两端箭头会消失 height: 10px; */
}
/*滚动条里面小方块*/
::-webkit-scrollbar-thumb {
	border-radius: 0.03rem;
	background-color: #a0a0a0;
}
/*滚动条里面轨道*/
::-webkit-scrollbar-track {
	border-radius: 0.03rem;
	background: #fefefe;
}

*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	word-wrap: break-word;
	word-break: break-all;
	/**清除元素的默认浏览器样式，例如input的顶部内黑线，select的下拉框，number的增减箭头等
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	select::-ms-expand { display: none; }IE的select要单独定义这一句**/
}
::-ms-browse, [type='file'] {
	line-height: 0.25rem;
	border:0.01rem solid #E76262;
	color:#D12D2D;
	background:#FDFAFA;
	border-radius: 0.03rem;
}
::-webkit-file-upload-button {
	line-height: 0.25rem;
	border:0.01rem solid #E76262;
	color:#D12D2D;
	background:#FDFAFA;
	border-radius: 0.03rem;
}
.required:before{
	content: "*";
	color:#ff0000;
	margin:auto 0.05rem;
}
fieldset {
	border: none;
	font-size:0.18rem;
}
fieldset:last-of-type {
	margin-bottom: 0;
}
fieldset > legend:before {
	content: "第 " counter(filedSets) " 步: ";
	counter-increment: filedSets 1;
}
fieldset legend {
	font-weight: bold;
	padding:0.1rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance: none !important;
	margin: 0; 
}
*::-webkit-input-placeholder{
	/* 使用webkit内核的浏览器 */
	line-height:0.16rem;
	color:#cccccc;
	font-size:0.12rem;
}
*:-moz-placeholder{
	 /* Firefox版本4-18 */
	 line-height:0.16rem;
	 color:#cccccc;
	 font-size:0.12rem;
}
*::-moz-placeholder{
	/* Firefox版本19+ */
	line-height:0.16rem;
	color:#cccccc;
	font-size:0.12rem;
}
*:-ms-input-placeholder{
	/* IE浏览器 */
	line-height:0.16rem;
	color:#cccccc;
	font-size:0.12rem;
}
/* input {
	border-radius: 0.03rem;
	min-height:0.25rem;
	padding-left:0.05rem;
	border:0.01rem solid #dddddd;
	vertical-align: middle;
}
input:focus{
	border: 0.01rem solid #204d86;
	-moz-box-shadow: 0 0 0.12rem #5591ff;
	-webkit-box-shadow: 0 0 0.12rem #5591ff;
	box-shadow: 0 0 0.12rem #5591ff;
} */

input {
	min-height:0.25rem;
	padding-left:0.05rem;
	border:0;
	border:0.01rem solid #86b7ff;
	border-radius:0.05rem;
	font-size: var(--input-font-size);
}
input:focus{
	border: 0.01rem solid #2f83ff;
}
/* 设置输入框尾部叉号的样式 */
input::-webkit-search-cancel-button {
	color: red; 
}
/* 兼容其他浏览器 */
input::-moz-clear {
	color: red;
}
input[type="checkbox"], input[type="radio"]{
	margin:auto 0.05rem;
	min-width:0.2rem;
	background: #FFFFFF;
	line-height: 0;
	vertical-align:middle;
	cursor:pointer;
}
input[type="text"], input[type="tel"], input[type="number"], input[type="password"], input[type="month"]{
	min-width:1.5rem;
	background: #FFFFFF;
	line-height: 0;
}
input[type="date"]{
	min-width:1.5rem;
	background: #FFFFFF;
	height: 0.27rem;
	line-height:0.27rem;
	width:98%;
	margin:0.5em 0;
	-moz-border-radius:0.05rem;
	-webkit-border-radius:0.05rem;
	border-radius:0.05rem;
	border:0.01rem solid #aaaaaa;
}
input[type="date"]:active{
	border:0.01rem solid #648FC3;
	-moz-box-shadow:0 0 0.12rem #4C95FD;
	-webkit-box-shadow:0 0 0.12rem #4C95FD;
	box-shadow:0 0 0.12rem #4C95FD;
}
input[type="submit"]{
	background: #FFFFFF;
	height: 0.29rem;
	line-height: 0;
	border:0.01rem solid #aaaaaa;
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	border-radius: .4em;
	width:100%;
}
input[type="file"]{
	min-width:1.5rem;
	background: #FFFFFF;
	line-height: 0;
	padding: 0.05rem;
	cursor:pointer;
}
select{
	min-width:1rem;
	padding:0 0 0 0.05rem;
	/* border: 0.01rem solid #aaaaaa; */
	height: 0.3rem;
	border-radius: 0.05rem;
	font-size: var(--input-font-size);
	vertical-align: middle;
}
select:active{
	border: 0.01rem solid #ff9e96;
	-moz-box-shadow: 0 0 0.12rem #ffb2ab;
	-webkit-box-shadow: 0 0 0.12rem #ffb2ab;
	box-shadow: 0 0 0.12rem #ffb2ab;
}
select option{
	height:0.3rem;
	font-size:0.14rem;
	margin:0.05rem;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}
textArea{
	border-radius: 0.03rem;
	padding:0.05rem;
	margin: 0.05rem 0px; 
	border: 0.01rem solid rgb(222, 222, 222); 
	border-image: none; 
	min-width: 500px; 
	min-height: 1rem; 
	overflow: auto;
}
pre {
	font-size:0.12rem;
	line-height:0.2rem;
	font-family: 'Verdana','微软雅黑','宋体';
	white-space: pre-wrap;
	word-wrap: break-word;
	background-color:#f8f8f8;
	border:1px solid #ececec;
	border-left:0;
	border-right: 0;
	padding:0.1rem;
	margin: 0.02rem 0;
}
.linenums{
	padding-left:0.2rem;
}
.blue_border{
	border-bottom:0.01rem solid #d1e2ff;
}
/*多步计数器*/
.stepsContainner>*{
	font-size:0.16rem;
}
.stepsContainner>div:before{
	content: counter(stepsCounterSN) "、 ";
	counter-increment: stepsCounterSN 1;
}
.hidden{
	display:none;
}
/*tab标题框*/
.tabTitleDiv{
	font-size: 0.16rem;
	letter-spacing: 0.02rem;
	text-align: center;
	font-weight: bold;
	display: inline-block;
	background: linear-gradient(0, #e4fbfb, #81baff);
	border: 0.01rem solid #60a1ef;
	border-bottom: 0;
	color: #141778;
	text-shadow: -0.01rem 0.01rem 0.02rem white;
	border-top-right-radius: 0.05rem;
	border-top-left-radius: 0.05rem;
	padding: 0 0.1rem;
	margin: 0.05rem 0.05rem 0 0.05rem;
	height: 0.4rem;
	min-width: 2rem;
	line-height: 0.4rem;
}
/*tab标题框的下划线*/
.tabTitleLine{
	height: 0.012rem;
	min-height: 0.012rem;
	width: calc(100% - 0.1rem);
	background: linear-gradient(90deg, #60a1ef, #ffffff 30%);
	margin: 0 0.05rem -0.05rem 0.05rem;
}
.titleDiv{
	color:#04003e;
	font-size:0.20rem;
	text-align:left;
	font-weight:bold;
	border-bottom:0.01rem solid #d1e2ff;
	height:0.6rem;
	line-height:0.6rem;
	vertical-align:middle;
	margin:0 0.05rem;
}
.subTitleDiv{
	text-align:left;
	font-weight:bold;
	min-height:0.4rem;
	line-height:0.4rem;
	margin: 0.05rem;
	color:#00157e;
	font-size:0.18rem;
}
.subContentDiv{
	text-align:left;
	border:0;
	line-height:0.3rem;
	padding: 0.05rem;
	margin: 0 0.05rem 0 0.3rem;
}
.conditionDiv{
	text-align:left;
	border-bottom:0.01rem solid #d1e2ff;
	vertical-align:middle;
	height:0.4rem;
	line-height:0.4rem;
	width: calc(100% - 0.1rem);
	margin-left: 0.05rem;
}
.contentDiv{
	text-align:left;
	line-height:0.3rem;
	padding:0.1rem;
	margin:0.1rem;
}
.addBorder{
	border:0.01rem solid #d1e2ff;
	border-radius:0.06rem;
}
table{
	width:calc(100% - 0.1rem);
	border-collapse:collapse;/*collapse时,radius不生效 separate时圆角生效 相当于cellspacing=0*/
	border-spacing:0;
	margin:0.05rem 0 0.05rem 0.05rem;
	border:0.01rem solid #d1e2ff;
}
thead tr
{
	font-size: 0.18rem;
	border-bottom:0.01rem solid #d1e2ff;
}
thead tr th {
	height:0.4rem;
	vertical-align:middle;
	font-size: 0.18rem;
  	font-weight:bold;
	text-align:center;
	border-right:0.01rem solid #d1e2ff;
	padding:0 0.05rem;
}
tbody tr {
	font-size: 0.18rem;
	border-bottom:0.01rem dashed #d1e2ff;
}
tbody tr td {
	height:0.4rem;
	vertical-align:middle;
	font-size: 0.18rem;
	border-right:0.01rem dashed #d1e2ff;
	padding:0 0.05rem;
	line-height:0.3rem;
}
tbody tr:hover td {
	background-color: #fffaf0;
}
.across tr:nth-child(2n){
	background-color:#fafafa;
}
.across tbody tr:nth-child(2n){
	background-color:#fafafa;
}
.across tr:hover td {
	background-color: #fffaf0;
}
.colorButtonDisable{
	opacity:0.5;
}
.ui-btn-up-ls{
	padding-left:0.1rem;
	letter-spacing:0.1rem;
}
.buttonDisable{
	border:0.01rem solid #a5a5a5;
	background:#d1e2ff;
	color:#939393;
}
.showMoreButton{
	font-size:0.14rem;
	background:url(image/liuchen/MoreArror.png) 0.3rem 0.06rem no-repeat;
	width:1.5rem;
	-webkit-border-radius:0.04rem;
	border-radius:0.04rem;
	font-weight:normal;
	margin-top:0.1rem;
	margin-bottom:0.1rem;
	padding:0.06rem 0 0.04rem 0.32rem;
}
/*温馨提示*/
.kindlyReminder tr{
	border:0;
}
.kindlyReminder tr{
	border:0;
}
.kindlyReminder tr td{
	text-align:left;
	vertical-align:middle;
	color:#666666;
	font-size:0.14rem;
	border:0;
}

/*对话框样式*/
.dialogInfoDiv{
	position:fixed;
	width:4rem;
	border:0;
	background:#ffffff;
	text-align:center;
	z-index:200002;
	padding:0px;
	margin:0 auto;
	top:30%;
	left:calc(50% - 2rem);
	box-shadow: 0.03rem 0.03rem 0.1rem #636363;
	animation:commonZoom 0.1s linear 0s 1 normal;
	-moz-animation:commonZoom 0.1s linear 0s 1 normal;/* Firefox: */
	-webkit-animation:commonZoom 0.1s linear 0s 1 normal;/* Safari and Chrome: */
	-o-animation:commonZoom 0.1s linear 0s 1 normal;/* Opera: */
}
.dialogMaskDiv{
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	z-index:200001;
	background:#000000;
	filter:alpha(opacity=10);
	opacity:0.1;
}
.dialogMaskIFrame{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:calc(100vh - 0.1rem);
	z-index:-1;
	filter:alpha(opacity=0);
	opacity:0;
}
.dialogTable{
	width:100%;
	margin:auto;
	border:0.01rem solid  #aaaaaa;
}
.dialogTable tbody tr{
	border:0;
}
.dialogTitle {
	height:0.36rem;
	vertical-align:middle;
	background: #e3e3e3;
	text-align: left;
	padding-left: 0.1rem;
	color: #222222;
	font-weight: bold;
	border-bottom:0.01rem solid #d3d3d3;
	cursor:move;
}
.dialogContent{
	background:#ffffff;
	text-align:left;
	vertical-align:middle;
	padding:0.3rem 0.1rem;
	white-space : normal;
	word-wrap : break-word ;
	border-bottom:0.01rem solid #d3d3d3;
	text-indent :0.32rem;
	line-height:0.3rem;
}
.dialogBottom {
	text-align: center;
	height: 0.36rem;
	vertical-align:middle;
}
.dialogButton{
	border:0.01rem solid #a5a5a5;
	background:#fafafa;
	text-align:center;
	font-weight:normal;
	display:inline-block;
	height: 0.26rem;
	padding: 0 0.15rem 0 0.2rem;
	margin: 0;
	line-height: 0.26rem;
	font-size: 0.14rem;
	-moz-border-radius:0.03rem;
	-webkit-border-radius:0.03rem;
	border-radius:0.03rem;
	letter-spacing:0.05rem;
	cursor: pointer;
}
/*分页插件DIV样式*/
.paggerDiv{
	position:relative;
	width:100%;
	text-align:center;
}
/*页面内弹出窗口的样式*/
.dialogPageDiv{
	min-height:4rem;
	min-width:6rem;
	border:0.01rem solid #d0d0d0;
	position:absolute;
	background:#ffffff;
	z-index:9999;
	padding:0.1rem;
	top:30%;
	left:30%;
}
.closeDialogPageDiv{
	cursor: pointer;
	display: inline-block;
	position: absolute;
	width: 0.15rem;
	height: 0.15rem;
	background: url(../image/icons/close.png) no-repeat;
	background-size: 0.15rem;
	background-position: top right;
	right: 0.1rem;
	top: 0.1rem;
}
/*配置文件样式*/
.propertyComment{
	color:#059631;
}
.propertyValue{
	color:#2a00ff;
}
.xmlTag{
	color:#3f7f7f;
	font-weight:bold;
}
.xmlAttributeKey{
	color:#7f007f;
}
.xmlAttributeValue{
	color:#2a00ff;
}
.linuxCommand{
	color:#9100ff;
	font-weight:bold;
}
/*
便签样式
用法范式：
<div class="note">
	<div>
		<h1>便签标题</h1>
		<div>便签内容</div>
</div>
*/
.note{
	padding:0.5rem;
	display: flex;
	flex-flow:row wrap;
	justify-content:flex-start;
	align-content:flex-start;
}
.note>div{
	cursor:pointer;
	color:#000000;
	text-decoration:none;
	background-image: linear-gradient(#fffff9,#fffdc4);
	display:inline-block;
	min-height:2rem;
	line-height:0.2rem;
	width:2rem;
	padding:0.1rem;
	margin:0.2rem 0.5rem;
	-moz-box-shadow:0.05rem 0.05rem 0.07rem #8c8c8c;
	-webkit-box-shadow:0.05rem 0.05rem 0.07rem #8c8c8c;
	box-shadow:0.05rem 0.05rem 0.07rem #8c8c8c;
	-moz-transition:-moz-transform .15s linear;
	-o-transition:-o-transform .15s linear;
	-webkit-transition:-webkit-transform .15s linear;
	-webkit-transform:rotate(6deg);
	-moz-transform:rotate(6deg);
	-o-transform:rotate(6deg);
	text-shadow: 0.01rem 0.01rem 0 #faff9b;
	color: #d37e00;
	border: 0.01rem solid #f49502;
}

/*因为nth-child里没有设置hover样式，不加!important会被nth-child里的定义覆盖*/
.note>div:hover, .note>div:focus{
	-moz-box-shadow:0.1rem 0.1rem 0.07rem #8c8c8c;
	-webkit-box-shadow:0.1rem 0.1rem 0.07rem #8c8c8c;
	box-shadow:0.1rem 0.1rem 0.07rem #8c8c8c;
	-webkit-transform:rotate(0deg) scale(1.25) !important;
	-moz-transform:rotate(0deg) scale(1.25) !important;
	-o-transform:rotate(0deg) scale(1.25) !important;
	transform:rotate(0deg) scale(1.25) !important;
	position:relative;
	z-index:5;
}
.note>div>h1{
	font-size:0.2rem;
	font-weight:bold;
	padding:0.1rem 0;
	text-align:center;
}
/*只对直接子元素生效，缺少>会导致多层子元素都继承*/
.note>div:nth-child(3n){
	-webkit-transform:rotate(-4deg);
	-moz-transform:rotate(-4deg);
	-o-transform:rotate(-4deg);
	background-image: linear-gradient(#fffaed,#ffc773);
	text-shadow: 0.01rem 0.01rem 0 #ffae6d;
	color: #9b5d00;
	border: 0.01rem solid #f47402;
}
.note>div:nth-child(2n){
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	-o-transform:rotate(5deg);
  	background-image: linear-gradient(#f4fbf1,#bcffbc);
  	text-shadow: 0.01rem 0.01rem 0 #c6ffa8;
	color: #007a00;
	border: 0.01rem solid #279106;
}
.note>div:nth-child(5n){
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	-o-transform:rotate(5deg);
  	background-image: linear-gradient(#f5fcff,#b1f8ff);
  	text-shadow: 0.01rem 0.01rem 0 #9bfff9;
	color: #005cd3;
	border: 0.01rem solid #00a1c7;
}
.note>div:nth-child(12){
	-webkit-transform:rotate(-4deg);
	-moz-transform:rotate(-4deg);
	-o-transform:rotate(-4deg);
}
.note>div:nth-child(10n){
	-webkit-transform:rotate(-4deg);
	-moz-transform:rotate(-4deg);
	-o-transform:rotate(-4deg);
	background:#ccfffd;
}
/*右方向粗箭头，html中&#10148;，css中\27A4*/
.item{
	font-weight:bold;
	padding:0.1rem;
	min-height:0.3rem;
	line-height:0.3rem;
	letter-spacing: 0.02rem;
}
.item:hover{
	color: #f86110;
}
/*content里要显示空格，必须要有white-space配合*/
.addArrow:before{
	content : "\27A4  ";
	white-space: pre;
}
.addTextIndent{
	text-indent:0.32rem;
}


/*悬浮在右下角的返回按钮*/
.flowToRightDiv{
	border: 0.01rem solid #002eb1;
	width: 1rem;
	height: 0.6rem;
	position: fixed;
	bottom: 0.1rem;
	right: 0.1rem;
	border-radius: 50%;
	text-align: center;
	line-height: 0.6rem;
	cursor: pointer;
	z-index: 9999;
	background: linear-gradient(0, #bfecff, #2286ff);
	text-shadow: -0.01rem 0.01rem 0.02rem white;
	color: #141778;
	font-size:0.18rem;
	opacity: 0.8;
}
.flowToRightDiv:hover{
	opacity: unset;
}
.dataCellTd{
	text-align:center;
	background-image: url(../image/icons/datacell.png);
	background-position: 0.1rem;
	background-repeat: no-repeat;
}
.mapxTd{
	text-align:center;
	background-image: url(../image/icons/object.png);
	background-position: 0.1rem;
	background-repeat: no-repeat;
}
.listxTd{
	text-align:center;
	background-image: url(../image/icons/listx.png);
	background-position: 0.1rem;
	background-repeat: no-repeat;
}
.mapInPage{
	position:fixed;
	padding:0.1rem;
	border-radius:0.05rem;
	right:0.4rem;
	top:1rem;
	line-height:0.3rem;
	background-color: #f6fafb;
	border: 1px solid #a0beff;
	opacity: 0.8;
	max-height: calc(100% - 1rem);
	overflow: auto;
}
.addspace{
	padding-left:0.32rem;
}