html body{
	width:100%;
	height:100%;
	border:0;
	margin:0;
}
body{
	font-size:0.3rem;
}
#contextDiv{
	font-size:0.12rem;
	font-weight:bold;
	z-index:99999;
	padding:0.1rem 0.1rem 0 0;
	top:0.59rem;
	right:0.1rem;
	position:fixed;
	float:right;
	height:0.3rem;
	width:6rem;
	text-align:right;
}
#userInfoDiv{
	display:inline-block;
	position:relative;
	font-family:"verdana","幼圆";
}
#contextMenuDiv{
	margin-left:0.2rem;
	display:inline-block;
	position:relative;
}
#headDiv{
	z-index:100;
	background-color: #ffffff;
	width: 100%;
	height: var(--title-div-height);
	line-height:var(--title-div-height);
	border: 0;
	border-bottom:0.01rem solid #e5e5e5;
	display: flex;
	align-items: center;
	justify-content: center;
}
#logo{
	height: 0.4rem;
	width: 1rem;
	margin: 0.05rem 0.1rem 0 0.1rem;
	float: left;
	background: url(../image/icons/logo.png) no-repeat;
	background-size:contain;
	background-position: center;
	display:inline-block;
}
#logoText1{
	display: inline-block;
	font-size: 0.4rem;
	/* text-shadow:0.01rem 0.01rem 0.04rem #ddefff; */
}
#logoText2{
	display:inline;
	font-size:0.2rem;
	color:#003366;
	font-family: "幼圆";
	font-weight: bold;
	margin-left:0.1rem;
	height:0.5rem;
	line-height:0.5rem;
	text-shadow:0.01rem 0.01rem 0.01rem #ddefff;
}
.menuDivShow{
	border:0;
	display:block;
	float:left;
	height: 100%;
	background-attachment:fixed;
	background-position:left bottom;
	border-right:1px solid #5d7e8d;
	position:fixed;
	left:0;
	overflow:auto;
	transition: left 0.2s linear 0s;
	/* background: linear-gradient(90deg, #f1faff, #cee8f8 50%); *//* 标准的语法 90度表示从左到右*/
	z-index:998;
	background:#ffffff;
	width:50%;
}
.menuDivHidden{
	border:0;
	display:block;
	float:left;
	width:3.5rem;
	height: 100%;
	background-attachment:fixed;
	background-position:left bottom;
	border-right:1px solid #5d7e8d;
	position:fixed;
	left:-4rem;
	transition: left 0.2s linear 0s;
}
.menuContent{
	padding: 0.1rem 0.1rem 0.1rem 0.1rem;
}
.workAreaDivMin {
	width: calc(100% - 3.8rem);
	height: calc(100% - 0.2rem);
	border:0;
	display:block;
	float:right;
	padding:0.1rem;
	transition: width 0.2s linear 0s;;
}
.workAreaDivMax {
	width: calc(100% - 0.2rem);
	height: calc(100% - 0.2rem);
	border:0;
	display:block;
	float:right;
	padding:0.1rem;
	transition: width 0.2s linear 0s;
}
.contentContainnerDiv{
	overflow:auto;
	width: 100%;
	height: 100%;
}
.menuDisplayed{
	display: block;
	width: 0.1rem;
	position: absolute;
	bottom: 0.2rem;
	left: calc(50% - 1.2rem);
	z-index: 999;
	cursor: pointer;
	text-align: center;
	height: 1rem;
	line-height: 1.05rem;
	background-position: center center;
	background-size: auto;
	transition: all 0.2s linear 0s;
	opacity: 1;
}
.menuHidden{
	left: 0.1rem;
}
.currentPositionDiv{
	height: 0.2rem;
	text-align:left;
	font-size:0.14rem;
	border:0;
	line-height:0.2rem;
	width: 5rem;
	padding: 0.03rem 0 0 0.2rem;
	background: url(../image/icons/currentLocation.png) left 0.04rem no-repeat;
	background-size: 0.15rem;
	transition: all 0.5s linear 0s;
	-moz-transition: all 0.5s linear 0s;
	-webkit-transition: all 0.5s linear 0s;
	-o-transition: all 0.5s linear 0s;
}
/*当前位置的下划线*/
.currentPositionDivLine{
	height:0.01rem;
	width:calc(100% - 0.1rem);
	background: linear-gradient(90deg, #e2e2e2, #ffffff 30%); /* 标准的语法 90度表示从左到右*/
	margin: 0.02rem 0.05rem 0.05rem 0;
}

.gradient-text{
	width: calc(100% - 0.2rem);
	height: calc(100% - 0.2rem);
	text-align: center;
	font-size: 0.4rem;
	font-weight: bolder;
	display: flex;
	top: calc(50vh - 3rem);
	align-content: center;
	justify-content: center;
	align-items: center;
}

.activeMenu{
	color: #ffffff !important;
	text-decoration: underline;
	background-color:#0470bf;
}

@property --k {
	syntax: "<number>";
	initial-value: 0;
	inherits: false;
}
.colorful-text {
	/* no pseudo needed */
	--k: 0;
	place-self: center;
	background: linear-gradient(90deg, hsl(calc(var(--k)*1turn), 95%, 65%), hsl(calc(var(--k)*1turn + 90deg), 95%, 65%));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	/* font: 900 clamp(.875em, 7.25vw, 5em) arial black, sans-serif; */
	filter: url(#f);
	text-align: center;
	/* text-transform: uppercase; */
	/* needs support for animating custom properties */
	/* Firefox not quite there yet, but it's coming */
	animation: k 4s linear infinite;
}

@keyframes k {
	to {
		--k: 1;
	}
}