.treeControl *{
	border:0;
	margin:0;
	padding:0;
	font-size:0.14rem;
}
.treeControlFirstUl{
	background:none !important;
}
.treeControlFirstLi{
	padding:0 !important;
	background:none !important;
}
.treeControl ul{
	list-style-type : none;
	margin-top:0px;
	margin-left:0px;
}
.treeControl ul li{
	margin-left: 0;/**inline横向显示**/
	padding-left:0.25rem;
	/*overflow:hidden;
	white-space: nowrap;*/
}
.treeControl ul li a{
	text-decoration: none;
	color:#004e9c;
	cursor: pointer;
}
.treeControl ul li a:hover {
	color: #ffffff;
	text-decoration: underline;
	background-color:#0470bf;
}
.treeControl ul li a:active {
	color: #ffffff;
	text-decoration: underline;
	background-color:#0470bf;
}
/*
不带动画的样式
 .treeControlOpenFolder{
	display:inline-block;
	width: 0;
	height: 0;
	margin: 0.12rem 0.13rem -0.03rem 0;
	border: 0.05rem solid transparent;
	border-top-color: #003366;
	border-top-width: 0.08rem;
}
.treeControlCloseFolder{
	display:inline-block;
	width: 0;
	height: 0;
	margin: 0.12rem 0.1rem 0 0;
	border: 0.05rem solid transparent;
	border-left-color: #003366;
	border-left-width: 0.08rem;
} */
.treeControlOpenFolder{
	display:inline-block;
	width: 0;
	height: 0;
	/* margin: 0.12rem 0.13rem -0.03rem 0; */
	margin: 0.15rem 0.13rem -0.03rem -0.03rem;
	border: 0.05rem solid transparent;
	border-left-color: #003366;
	border-left-width: 0.08rem;
	transition:0.2s;
	transform:rotate(90deg);
}
.treeControlCloseFolder{
	display:inline-block;
	width: 0;
	height: 0;
	margin: 0.12rem 0.1rem 0 0;
	border: 0.05rem solid transparent;
	border-left-color: #003366;
	border-left-width: 0.08rem;
	transition:0.2s;
	transform:rotate(0deg);
}
.treeControlItem{
	display:inline-block;
	margin: 0.12rem 0.16rem 0.03rem 0.02rem;
	width: 0.05rem;
	height: 0.05rem;
	border: 0;
	background-color: #005ca7;
	border-radius: 50%;
}
.treeControlMiniButton{
	border:1px solid #a5a5a5;
	background:#fafafa;
	text-align:center;
	font-weight:normal;
	display:inline-block;
	height: 0.2rem;
	padding: 0 0.05rem;
	margin: 0 0.05rem;
	line-height: 0.2rem;
	font-size: 0.12rem;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	cursor: pointer;
}