<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>欢迎页</title>
	<link type="text/css"  rel="stylesheet" href="../css/dom.css"/>
	<link type="text/css" rel="stylesheet" href="../css/arrow.css"/>
	<script type="text/javascript" src="../javascript/core/domUtil.js"></script>
	<style type="text/css">
		html,body{
			width:100%;
			height:100%;
		}
		.gradient-text{
			width:calc(100% - 10px);
			height:1rem;
			text-align: center;
			line-height: 1rem;
			font-size:0.4rem;
			font-weight:bolder;
			border:0;
			display:inline-block;
			position: fixed;
		    top: calc(50vh - 2.2rem);
		}
	</style>
</head>
<body style="background:url(../image/welcomeBg.gif) no-repeat;background-size:2.24rem 1.62rem;background-position:bottom right;">
	<div class="gradient-text">
		文献资料手册
	</div>
</body>
</html>